/* The CSS code you provided is defining styles for the `#logo` element and all `div` elements on the
page. */
/* #logo{
   display: flex;
   justify-content: space-between;
   margin-left: 80px;
   margin-right: 90px;
}
div{
   display: flex;
   font-family:"inter";
   justify-content:space-between;
   margin-left: 80px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
} */

